@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
      font-display: swap;
  }
  

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;

}
.menu-item{
    margin-left: 40px;
    margin-right: 40px;
}
.menu-link{
    text-decoration: none;
    color: #fff;
}
.menu-item:active{
    background-color: #3596F5;
}
.contact-text{
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.navbar-contacts{
    text-align: right;
    color: #fff;
    margin-bottom: 4px;
}
.contact-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main{
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: space-between;
}
.home-image path{
    opacity: 0;
    cursor:pointer;
}
.home-image path:hover{
    opacity: 1;
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button{
    background-color: #fff;
    border: none;
    cursor:pointer;
}
.counter-arrow-down{
    transform:rotateX(180deg);
}
.main-title{
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 37px;
    line-height: 44px;
    font-weight: normal;
    text-transform: uppercase;
    color:#635854;
    margin:0;
}
.counter{
    margin-top:10px;
    margin-bottom:10px;
    font-family: "BebasNeueRegular", sans-serif;
    color:#635854;
    font-size:124px;
}
.button-primary{
    border-radius:6px;
    background-color: #3596F5;
    color:#fff;
    border:none;
    padding:16px 36px;
    cursor:pointer;
}