*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;

}
.menu-item{
    margin-left: 40px;
    margin-right: 40px;
}
.menu-link{
    text-decoration: none;
    color: #fff;
}
.menu-item:active{
    background-color: #3596F5;
}
.contact-text{
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.navbar-contacts{
    text-align: right;
    color: #fff;
    margin-bottom: 4px;
}
.contact-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}